<h1>TEST!!!!</h1>

<%= @neighborhood %>
<%= @food %>


<%=  @restaurants["response"]["groups"][0]["items"].each do |restaurant|  %>
       <%=   puts restaurant["venue"]["name"]  %> 
          <% end   %>