/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  width:600px;
  margin:0px auto;
  text-align:center;
  padding:15px;
  border:1px solid #333;
  background-color:#eee;
  font-family: 'Maven Pro', sans-serif;
  }

ul {
list-style-type: none;
}

img { 
   border:1px solid #021a40;
   border-radius: 2px;
   margin-top: 2px;
}


#logo {
  text-align:right;
  color: #A3343A;
  font-size: 25px;
  font-family: 'Nixie One', sans-serif;
}

  

 
